.signin-container,.signup-container {
  height: 100vh;
  width: 100vw;
  background-color: #316af3;
}

a {
  text-decoration: none;
}

.signin-card, .signup-card{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: sans-serif;
  width: 100%;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 38px;
  margin-bottom: 38px;
  border-radius: 10px !important;
  background-color: #ffff;
  box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);
}

form {
  padding: 30px;
}

.signin-title, .signup-title{
  text-align: center;
  font-weight: bold;
  margin: 0;
}

.signup-option, .signup-option {
  background-color: rgb(69, 69, 185, 0.2);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.line {
  text-align: center;
  font-weight: bold;
  border-bottom: 2px solid rgb(245 239 239);
  line-height: 2px;
  margin: 25px 0;
}

.error-message{
  color: red;
  font-weight: 600;
}

.signin-fields, .signup-fields{
  display: flex;
  flex-direction: column;
}

.signin-fields label, .signup-fields label {
  color: rgb(170 166 166);
  text-align: left;
  margin-top: 15px;
}

.signin-textbox, .signup-textbox{
  padding: 15px 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  outline: none;
  font-size: 20px;
}

.signin-button,.signup-button {
  background-color: rgb(69, 69, 185);
  color: white;
  padding: 18px 20px;
  margin-top: 25px;
  margin-left: auto !important;
  margin-left: auto !important;
  width: 100%;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}

.forget-pass {
  text-align: center;
  display: block;
}

.signup-question {
  text-align: center;
  font-weight: bold;
  margin-top: 15px !important;
  padding: 15px;
}


/*input file*/
.file-input {
  color: transparent;
  margin-bottom:0!important;
}
.file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.file-input::before {
  content: "Upload Profile Pic";
  color: #fff;
  display: inline-block;
  background: #fa0261;
  padding: 10px 22px;
  outline: none;
  width: fit-content;
  margin: 10px auto 10px auto;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 2px;
  outline: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.file-input:focus {
  outline: none !important;
}

.file-input:active::before {
  transform: scale(0.9) translate(0px, 2px);
  box-shadow: inset 4px 4px 5px 0px rgba(0, 0, 0, 0.2);
}
